apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: jobtracker-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: us-central1-docker.pkg.dev/norse-carport-484915-f2/jobtracker-docker/frontend:latest
        ports:
        - containerPort: 80
